#about{
  padding: 35px;
  height: auto;
  margin-bottom: -125px;
}

#about .title{
  color: yellow;
  margin-bottom: 20px;
}

#about p{
  font-family: 'Open Sans', sans-serif ;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 1px;
}

@media (min-width: 640px){
  
  #about .title{
    font-size: 70px;
  }
}

/**************
tablet
***************/

@media (min-width: 960px){

  #about{
    padding: 70px;
  }
  
  #about .title{
    font-size: 100px;
    margin-bottom: 30px;
  }

   #about p{
    font-size: 30px;
    line-height: 60px;
  }
}

/**************
desktop
***************/

@media (min-width: 1024px){
  #about{
    height: 100vh;
    padding: 15vh 200px;
    margin-bottom: 0;
  }

  #about .title{
    font-size: 6.5vw;
    padding-top: 0;
  }

  #about p{
    font-size: 1.5vw;
    line-height: 3vw;
  }
}