
.resume-button{
    text-decoration: none;
    color: black;
    background: white;
    border: 1.5px solid #8e8e8e;
    position: absolute;
    left: 35px;
    top: 85vh;
    border-radius: 100px;
    padding: 5px 10px;
  }

   .resume-button::before{
		transition: all 0.5s;
		content: '';
		width: 25%;
		height: 100%;
    background: #8e8e8e;
    border-radius: 100px;
    position: absolute;
		top: 0;
    left: 0;
    mix-blend-mode: multiply;
  }

  .resume-button:hover::before{
		transition: all 0.5s ease;
		content: '';
		width: 100%;
    height: 100%;
    background-color: #8e8e8e;
    border-radius: 100px;
    mix-blend-mode: multiply;
  }

button:focus {outline:0;}

@media (min-width: 640px){

  .resume-button{
    font-size: 20px;
    top: 500px;
    padding: 10px 20px;
  }
}

/****************
tablet size
*****************/

@media (min-width: 960px){

  .resume-button{
    top: 750px;
    left: 70px;
  }
}

/****************
laptop size
*****************/

@media (min-width: 1024px){

  .resume-button{
    left: 200px;
    top: 625px;
  }
}

/****************
desktop size
*****************/

@media (min-width: 1920px){
 
  .resume-button{
    top: 800px;
    background: blue;
  }
}