#contact{
  padding: 35px;
  height: auto;
}

#contact .title{
  margin-bottom: 20px;
}

.contact-section{
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contact-section h1{
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 10px;
}

.contact-section a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 1px;
  display: inline-block;
}

/*******************
email
********************/

.email h1{
  color: yellow;
}

/*******************
mobile
********************/

.mobile h1{
  color: turquoise;
}

/*******************
follow
********************/

.follow h1{
  color: #F037A5;
}

.follow a{
  display: inline-block;
  margin-right: 20px;
}

@media (min-width: 640px){

  #contact{
    height: 150vh;
  }

  .contact-section{
    height: 50vh;
    justify-content: space-evenly;
  }
  
  #contact .title{
    font-size: 70px;
  }
}

/**************
tablet
***************/

@media (min-width: 960px){

  #contact{
    padding: 70px;
  }
  
  #contact .title{
    font-size: 100px;
    margin-bottom: 30px;
  }

  #contact h1{
    font-size: 50px;
  }

   #contact a{
    font-size: 35px;
  }

}

/**************
desktop
***************/

@media (min-width: 1024px){

  #contact{
    height: 125vh;
    padding: 15vh 200px;
  }

  #contact .title{
    font-size: 6.5vw;
    padding-top: 0;
  }

  #contact h1{
    font-size: 40px;
  }

  #contact a{
    font-size: 25px;
  }

  /*************
  hover effects
  **************/

  .email a:hover{
    color: yellow;
  }

  .email a.sliding-bar:hover::after{
    background-color: yellow;
  } 

  .mobile a:hover{
    color: turquoise;
  }

  .mobile a.sliding-bar:hover::after{
    background-color: turquoise;
  } 

  .follow a:hover{
    color: #F037A5;
  }

  .follow a.sliding-bar:hover::after{
    background-color: #F037A5;
  } 

  
}