footer{
  background: #F037A5;
  padding: 35px;
  height: auto;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

footer h1{
  font-size: 30px;
  margin-top: 100px;
  margin-bottom: 10px;
}

footer p{
  font-family: 'Open Sans', sans-serif ;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 1px;
}

@media (min-width: 640px){
  
  footer{
    height: 75vh;
  }

  footer h1{
    margin-bottom: 20px;
  }
}

/**************
tablet
***************/

@media (min-width: 960px){

  footer{
    height: 75vh;
    padding: 70px;
  }

  footer h1{
    font-size: 50px;
    margin-top: 130px;
    margin-bottom: 50px;
  }

  footer p{
    font-size: 25px;
    line-height: 45px;
  }
}