.home-title{
  font-size: 30px;
  color: #F037A5;
  position: fixed;
  z-index: 3;
}

.hi{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  color: black;
  background: #F037A5;
  position: absolute;
  top: 20px;
  left: 30px;
}

.im{
  position: absolute;
  top: 20px;
  left: 95px;
}

.lillian{
  position: absolute;
  top: 75px;
  left: 35px;
}

/****************
tablet size
*****************/

@media (min-width: 960px){
  .home-title{
    font-size: 50px;
  }

  .hi{
    width: 90px;
    height: 90px;
    top: 40px;
    left: 62px;
  }

  .im{
    top: 40px;
    left: 165px;
  }

  .lillian{
    top: 130px;
    left: 70px;
  }

}

/****************
laptop size
*****************/


@media (min-width: 1024px){

  .home-title{
    font-size: 70px;
    position: absolute;
    z-index: 0;
  }

  .hi{
    background: turquoise;
    color: white;
    width: 130px;
    height: 130px;
    position: absolute;
    top: 110px;
    left: 180px;
  }

  .im{
    color: turquoise;
    top: 250px;
    left: 200px;
  }

  .lillian{
    top: 250px;
    left: 380px;
    color: #F037A5;
  }
}

/****************
desktop size
*****************/

@media (min-width: 1920px){
  .hi{
    top: 700px;
  }
}