#home{
  height: 100vh;
  background: url("./images/Homepage_photo.jpg") center no-repeat;
  background-size: cover;
  background-position-x: 80%;
  background-position-y: 12vh;
  margin-bottom: -125px;
}

.subheading{
  color: black;
  font-family: 'Open Sans', sans-serif ;
  font-weight: 400;
  font-size: 15px;
  line-height: 35px;
  width: 45vw;
  position: absolute;
  top: 180px;
  left: 35px;
}

@media (min-width: 640px){
  #home{
    height: 640px;
    font-size: 30px;
  }

  .subheading{
    top: 230px;
    width: 350px;
    font-size: 20px;
    line-height: 50px;
  }
}

/****************
tablet size
*****************/

@media (min-width: 960px){
  #home{
    height: 960px;
  }

  .subheading{
    top: 350px;
    left: 70px;
    width: 550px;
    font-size: 30px;
    line-height: 70px;
  }
}

/****************
laptop size
*****************/

@media (min-width: 1024px){
  #home{
    height: 100vh;
    background: url("./images/Homepage_photo.jpg") center no-repeat;
    background-size: cover;
    margin-bottom: 0;
  }

  .subheading{
    position: absolute;
    left: 200px;
    top: 55vh;
    font-size: 25px;
    line-height: 60px;
  }

}

/****************
desktop size
*****************/

@media (min-width: 1920px){
  
}