@import url("https://use.typekit.net/fjw0rlz.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: century-gothic,sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  color: white;
  width: 100vw;
  min-height: 100vh;
}

html{
  scroll-behavior: smooth;
}

video, button:focus {outline:0;}

.banner-area{
  height: 100vh;
  position: relative;
}

main{
  position: relative;
  height: auto;
  margin-bottom: 60vh;
  background: #111111;
}

.title{
  font-size: 45px;
}
