/************************************
Menu
Navigation: 80
Burger menu: 102
*************************************/


@import url("https://use.typekit.net/fjw0rlz.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');


/* Site-wide styles*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: century-gothic,sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  color: white;
  background: #111111;
}

html{
  scroll-behavior: smooth;
}
/* Navigation styles here*/
nav{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  text-transform: uppercase;
  letter-spacing: 5px;
  background-color: black;
  width: 100%;
  z-index: 1;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-weight: 700;
  letter-spacing: 10px;
}

.nav-links li{
  list-style: none;
  margin: 0 20px;
}

.nav-links a{
  color: white;
  text-decoration: none;
  line-height: 1.5rem;

}

.sliding-bar::after{
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background-color: #F037A5;
  margin-top: 4px;
}

.sliding-bar:hover::after{
  width: 100%;
  transition: width .5s;
}

nav .nav-links #home-link:hover{
  color: #F037A5;
} 

nav .nav-links #about-link:hover{
  color: yellow;
} 

nav .nav-links #about-link.sliding-bar:hover::after{
  background-color: yellow;
} 

nav .nav-links #portfolio-link:hover{
  color: turquoise;
} 

nav .nav-links #portfolio-link.sliding-bar:hover::after{
  background-color: turquoise;
} 

nav .nav-links #contact-link:hover{
  color: white;
} 

nav .nav-links #contact-link.sliding-bar:hover::after{
  background-color: white;
} 

/***********************************************


Burger menu 


***********************************************/



.burger{
  display: none;
  z-index: 2;
}

.burger div{
  width: 30px;
  height: 3px;
  background: white;
  margin: 7px;
  transition: all 0.3s ease;
}

.banner-area{
    min-height: 100vh;
    position: relative;
    background: #111111;
}

.progress-container {
  margin-top: 10vh;
  width: 100%;
  height: 3px;
  background:transparent;
  position: fixed;
  z-index: 3;
}

.progress-bar {
  height: 3px;
  background: #F037A5;
  width: 0%;
}

#home{
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('./images/Homepage_photo.jpg') center no-repeat;
  background-size: cover;
}

#hi, #im, #lillian{
  font-size: 7.5vw;
  position: absolute;
}

#hi{
  color: white;
  background-color: turquoise;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15vh;
  left: 14vw;
  width: 18vh;
  height: 18vh;
  border-radius: 300px;
}

#im{
  color: turquoise;
  top: 35vh;
  left: 15vw;
}

#lillian{
  color: #F037A5;
  top: 35vh;
  left: 27vw;
  letter-spacing: 2.5px;
}

#subheading{
  color: black;
  position: absolute;
  top: 55vh;
  left: 15vw;
  width: 45vw;
  font-weight: 400;
  font-size: 1.5vw;
  letter-spacing: 1px;
  line-height:7vh;
  font-family: 'Open Sans', sans-serif ;
  margin: 2vh 0;
}

#resume-button{
  color: #8e8e8e;
  font-size: 1.5vw;
  padding: 8px 20px;
  border: none;
  cursor: pointer;
  border-radius: 100px;
  border: 1.5px solid #8e8e8e;
  transition: 0.5s;
  background: transparent;
  position: absolute;
  left: 15vw;
  bottom: 10vh;
}

#resume-button:hover{
  background: #8e8e8e;
  color: white;
  transition: 0.5s;
}

button:focus {outline:0;}

.title{
  color: white;
  font-size: 14vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 12.5vh;
  margin-bottom: 5vh;
}

p{
  font-family: 'Open Sans', sans-serif ;
  font-weight: 400;
  width: 100%;
  font-size: 3vh;
  letter-spacing: 2px;
  line-height: 6vh;
  margin-bottom: 10px;
}

.project-parra{
  width: 75%;
}

#about, #contact, #portfolio{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 15vw;
}

#portfolio h2{
  font-size: 7.5vh;
  margin-bottom: 20px;
}

.project{
  margin-bottom: 80px;
}

.project-link a{
  display: inline-block;
  color: turquoise;
  text-decoration: none;
  font-size: 3.5vh;
  margin: 20px 40px 20px 0;
}

.project-link .sliding-bar:hover::after{
  background-color: turquoise;
}

img{
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin: 30px 0;
  box-shadow: 1px 1px 10px black;
}

#tic-tac-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

#tic-tac-section img{
  width: 300px;
  border-radius: 30px;
  border: solid 2px #444444;
}

#contact-section{
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  letter-spacing: 2px;
  padding-bottom: 1vh;
}

#contact-section h1{
  font-size: 5.5vh;
  font-weight: 400;
  margin-bottom: 10px;
}

.email h1{
  color: yellow;
}

.mobile h1{
  color: turquoise;
}

.follow h1{
  color: #F037A5;
}

#contact a{
  font-weight: 400;
  font-size: 3.5vh;
  letter-spacing: 2px;
  text-decoration: none;
}

.email a, .mobile a, .follow a{
  color: white;
  text-align: center;
  line-height: 1.5rem;
  margin: 0;
  display: inline-block;
  margin-right: 40px;
}

.email a:hover{
  color: yellow;
}

.mobile a:hover{
  color: turquoise;
}

.follow a:hover{
  color: #F037A5;
}

.email .sliding-bar:hover::after{
  background-color: yellow;
}

.mobile .sliding-bar:hover::after{
  background-color: turquoise;
}

.follow .sliding-bar:hover::after{
  background-color: #F037A5;
}

main{
  position: relative;
  height: auto;
  margin-bottom: 60vh;
}
  
footer {
  letter-spacing: 3px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  padding: 5vh 15vw;
  background: #F037A5;
  height: auto;
  color: #111111;
}

footer h1{
  margin-top: 2vh;
  margin-bottom: 3vh;
  font-size: 3vw;
}

footer p{
  font-size:1.5vw;
  line-height: 2.5rem;
  letter-spacing: 1px;
}

@media screen and (max-width: 1024px){

  body{
    overflow-x: hidden;
    cursor: pointer;
    height: auto;
  }

  nav{
    justify-content: flex-end;
    align-items: flex-start;
    height: 200px;
  }

  .progress-container, .progress-bar {
    margin-top: 5px;
  }

  .nav-links{
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 0;
    margin: 0;
    background: rgb(11, 11, 11);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform .5s ease-in;
  }

  .nav-links li{
    opacity: 0;
    color: black;
  }

  .nav-links a{
  color: black;
  text-decoration: none;
  }

  .burger{
    display: block;
    margin-right: 5%;
    margin-top: 5vh;
  }

  nav .nav-links #home-link{
    color: #F037A5;
  }

  nav .nav-links #about-link{
    color: yellow;
  }

  nav .nav-links #portfolio-link{
    color: turquoise;
  }

  nav .nav-links #contact-link{
    color: white;
  }
  .progress-container {
    margin-top: 25vh;
  }

  #home{
    background-position-y: 70px;
    background-position-x: -400px;
  }

  #hi, #im, #lillian{
    font-size: 4.5rem;
    position: fixed;
    z-index: 2;
    color: white;
    letter-spacing: 2px;
  }

  #hi{
    top: 15px;
    left: 40px;
    width: 90px;
    height: 90px;
    color: black;
    background: #F037A5;
  }

  #im{
    top: 12px;
    left: 150px;
  }

  #lillian{
    left: 50px;
    top: 100px;
  }

  #subheading{
    position: absolute;
    top: 40%;
    left: 60px;
    width: 50vw;
    font-size: 3vh;
    line-height: 10vh;
    letter-spacing: 1px;
  }

  #resume-button{
    left: 60px;
    font-size: 2.5vh;
    padding: 8px 20px;
    background: #8e8e8e;
    color: white;
    height: 50px;
  }

  #about, #porfolio, #contact{
    padding: 5%;
    height: auto;
    margin-bottom: -10vh;
  }

  .title{
    margin-top: 20vh;
  }

  p, footer p{
    font-size: 2.5vh;
  }

  #portfolio{
    padding: 58px;
  }

  .project-parra{
    width: 100%;
  }

  #tic-tac-section{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #tic-tac-section img{
    width: 180px;
    height: auto;
  }

  #contact{
    height: 100vh;
    padding-bottom: 0;
  }

  #contact-section{
    justify-content: space-between;
    padding-bottom: 40px;
  }

  main{
    margin-bottom: 75vh;
  }

  footer{
    padding: 2% 5%;
  }
}

@media screen and (max-width: 768px){

  .progress-container, .progress-bar {
    margin-top: 100px;
  }

  #hi, #im, #lillian{
    font-size: 4.5rem;
  }

  #hi{
    left: 70px;
    top: 20px;
    width: 85px;
    height: 85px;
  }

  #im{
    left: 170px;
    top: 30px;
  }

  #lillian{
    left: 75px;
  }

  #subheading{
    left: 10%;
    top: 30%;
    width: 40vw;
    font-size: 2.5vh;
    line-height: 5.5vh;
    letter-spacing: 1px;
  }

  #resume-button{
    font-size: 2.5vh;
    padding: 8px 20px;
    background: #8e8e8e;
    color: white;
    bottom: 20%;
  }

  #home{
    background-position-x: 75%;
    background-position-y: 15vh;
  }

  #about, #contact{
    padding: 10%;
  }

  #portfolio{
    padding: 10%;
  }

  .title{
    font-size: 10vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 20vh;
    margin-bottom: 2vh;
  }

   p, footer p{
    font-size: 2vh;
  }

  #portfolio h2{
    font-size: 7vh;
  }

  #contact{
    margin-top: -15vh;
  }

  footer{
    padding: 5% 10%;
  }

  footer h1{
    font-size: 3.5vh;
  }
}

@media (max-width: 640px){

  body{
    background: #F037A5;
  }

  nav{
    height: 90px;
  }

  .progress-container, .progress-bar {
    margin-top: 45px;
  }

  #hi, #im, #lillian{
    font-size: 2rem;;
    color: #F037A5;
  }

  #hi{
    color: black;
    width: 43px;
    height: 43px;
    top: 8px;
    left: 60px;
  }

  #im{
    top: 10px;
    left: 120px;
  }

  #lillian{
    letter-spacing: 3px;
    top: 50px;
    left: 65px;
  }

  #subheading{
    width: 60%;
    top: 35%;
    font-size: 4vh;
    line-height: 3rem;
    line-height: 8.5vh;
    letter-spacing: 1px;
  }

  #resume-button{
    font-size: 4vh;
    padding: 5px 20px;
    height: 30px;
    bottom: 15%;
  }

  .title{
    font-size: 15vh;
    margin: 0;
    margin-bottom: 10px;
    padding-top: 10vh;
  }

  p, footer p{
    font-size: 4vh;
    line-height: 7vh;
  }

  #portfolio h2{
    font-size: 10vh;
  }

  #contact{
    height: auto;
  }

  #contact-section{
    margin-bottom: 10vh;
  }

  #contact-section h1{
    font-size: 8vh;
  }

  #contact a{
  font-size: 5vh;
}

  .email, .mobile, .follow{
    margin-bottom: 30px;
  }

  footer{
    position: relative;
    padding: 0 65px;
    margin-top: -70vh;
  }

  footer h1{
    padding-top: 3vh;
    margin-bottom: 5vh;
    font-size: 7vh;
  }

  footer p{
    margin-bottom: 5vh;
  }
}

@media (max-width: 360px){

  .nav-links{
    height: 100vh;
    width: 65vw;
    padding-top: 50px;
    font-size: 1rem;
    text-align: right;
    align-items: flex-end;
    background: black;
  }

  nav{
    height: 25vh;
    height: 150px;
  }

  .progress-container, .progress-bar {
    margin-top: 75px;
  }
  
  .title{
    margin-top: 10vh;
  }

  #hi, #im, #lillian{
    font-size: 3.2rem;
  }

  #hi{
    left: 30px;
    top: 20px;
    width: 65px;
    height: 65px;
  }

  #im{
    top: 20px;
    left: 110px;
  }

  #lillian{
    top: 85px;
    left: 35px;
  }

  #subheading{
    font-size: 2.5vh;
    width: 50%;
    top: 25%;
  }

  #resume-button{
    font-size: 1rem;
    bottom: 10%;
    left: 10%;
    height: 33px;
  }

  .title{
    font-size: 9vh;
    padding-top: 10vh;
    margin-bottom: 1rem;
  }

  #about, #contact{
    margin-bottom: 0;
  }

  #portfolio{
    padding: 5vh 35px;
  }

  #portfolio h2{
    margin-top: 15px;
    font-size: 2rem;
  }

  .project{
    margin-bottom: 0;
  }

  #tic-tac-section{
    margin-bottom: 35px;
  }

  #contact-section h1{
    font-size: 1.7rem;
    margin-top: 1.5rem;
  }

  #contact-section a{
    font-size: 1.2rem;
  }
  
  p, footer p{
    font-size: 1rem;
    line-height: 2rem;
  }

  main{
    width: 100%;
  }

  footer{
    padding: 0 10%;
  }

  footer h1{
    font-size: 2rem;
  }

}

.nav-active{
    transform: translateX(0%);
  }

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50%);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px, 10px);
  height: 4px;
  background: white;
}

.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px, -10px);
  height: 4px;
  background: white;
}